<div class="container">
    
  <div class="row">
      <div class="col-sm">
        <div class="container pt-5">
            <h1 class="display-5 semibold-text">Hi! I'm <span class="blue-text">Ellaine Villanueva</span></h1>
            <h1 class="display-3 bold-text">ASPIRING WEB DEVELOPER</h1>

            <br>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, laudantium, excepturi ducimus eius unde eligendi fugiat tempore quis placeat minima voluptatem molestias autem impedit accusamus eaque. Excepturi dolor temporibus vel!</p>
            <br>
            <a class="btn btn-viewprojects" href="#" role="button">View Projects</a>
        </div>
      </div>
            
      <div class="col-sm">        
        <img src="https://lh3.googleusercontent.com/pw/AP1GczOxGzxT1yrguk9R8jY_XbWvs6USclRkF1DCXoOj0h7eW9whj3WWhRw_xsQ9n2wQVLjrNLNRP1cBpAPIgacs7LzdFBXt2kZimAJTKq40lGnFxnQQfA=w2400"
          class="img-fluid d-none d-sm-block">         
      </div>
    
  </div>    
</div>