<header>
    <h2 class="bold-text white-text pt-5">SKILLS AND EXPERIENCES</h2>
</header>

<body>
    <div class="container">    
        <div class="row">   
            <div class="col-md-3 circle">
                <p>
                    <span class="normal">UI/UX Design</span>
                    <span class="hovered">Wireframe, Mockup, and Prototyping through <b>Figma</b></span>
                </p>    
            </div>
            <div class="col-md-3 circle">
                <p>
                    <span class="normal">Programming & Database</span>
                    <span class="hovered">HTML, CSS
                        JS, TS,
                        C, C++, C#, Java, MySQL, SQL Server, MongoDB</span>
                </p>            
            </div>
            <div class="col-md-3 circle">
                <p>
                    <span class="normal">Web Frameworks</span>
                    <span class="hovered">ASP.Net, Bootstrap, Angular,
                        React</span>
                </p>  
            </div>
            <div class="col-md-3 circle">
                <p>
                    <span class="normal">OS Virtualization</span>
                    <span class="hovered">Windows and Ubuntu through VirtualBox 2023 and WSL2</span>
                </p>  
            </div>
            <div class="col-md-3 circle">
                <p>
                    <span class="normal">Content Management System</span>
                    <span class="hovered">Web Management through Wix, Wordpress, and cPanel</span>
                </p>  
            </div>
        </div>

  
    </div> 
</body>

