/*DAHIL SYA SA *{} justify content display flex tsaka .container. redo experiences tomorrow!*/

* {
  
    /*padding: 40px 8px 8px 8px;    */
    justify-content: center;   
    display: flex;
    }


    header, body{
        background-color: #9D6462;
    }
    .white-text{
        font-weight: 900;
        color:#fff;    
    }
    
  
    .bold-text{
        font-weight: 900;
    }

    
    /*skills circles*/
    .container{
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .circle {
        height: 180px;
        width: 180px;
        background-color: #fff;
        border-radius: 50%;
        margin-left: 32px;
        margin-right: 32px;
        align-items: center; /* Vertically center the content */
      }
      
      .circle p {
        background-color: #fff;
        color: #9D6462;
        text-align: center; /* Horizontally center the text */
        font-weight: 600;
        max-width: 100px;
        max-height: 120px;
    }


    .circle:hover .normal {
        display: none;
    }
    
    .circle:hover .hovered {
        display: inline;
    }
    
    .circle:not(:hover) .hovered {
        display: none;
    }



    /*image gallery for logos*/
    div.gallery {
        border: 1px solid #ccc;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
      
      * {
        box-sizing: border-box;
      }
      
      .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }
      
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }